{% macro input(nom, label, type) %} 
    <div class="form-input flex-col">
        <label for="{{ nom }}">{{ label }}</label>
        <input type="{{type ? type : 'text'}}" id="{{ name }}" name="{{ nom }}">
    </div>
{% endmacro %}

{% macro texteArea(nom, value) %}
        <textarea id="{{ nom }}" name="{{ nom }}">{{ value }}</textarea>
{% endmacro %}